.budgetList {
    list-style: none;
    font-family: Poppins, sans-serif;
    font-size: 12px;
}

.delete_btn {
    border-radius: 8px;
    background-color: rgb(235, 52, 52);
    border-color: white;
}

.delete_btn:hover {
    background-color: rgba(235, 52, 137, 0.8);
}

.accordion {
    display: flex;
    opacity: 90%;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 6px;
    z-index: 1000;
}

.accordion_header {
    overflow: hidden;
}