

.delete_btn {
    border-radius: 8px;
    background-color: rgb(235, 52, 52);
    border-color: white;
    cursor: pointer;
}

.delete_btn:hover {
    background-color: rgb(206, 25, 25);
}

.accordion {
    display: flex;
    opacity: 90%;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 6px;
    z-index: 1000;
    font-family: Poppins, sans-serif;
}

.p_text {
    font-weight: 500;
}

.accordion_header {
    overflow: hidden;
}

.accordion-button {
    padding-left: 20px !important;
}