.budgetList {
    list-style: none;
    font-family: Poppins, sans-serif;
    font-size: 12px;
}

.delete_btn {
    border-radius: 8px;
    background-color: rgb(235, 52, 52);
    border-color: white;
}

.delete_btn:hover {
    background-color: rgba(235, 52, 137, 0.8);
}