@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.sidebar {
    display: grid;
    grid-template-rows: 80px 1fr;
    font-family: Poppins;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border: 1px solid #8c92e0;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .sidebar a:hover {
    color: #8c92e0;
  }
  
  @media screen and (max-width: 430px) {
    .sidebar {
      display: none;
    }
  }
  
  .brand {
    height: 65px;
    box-shadow: 0em 0.2em .5em #8c92e0;
    border: 1px solid #8c92e0;
  }
  
  .brand img {
    height: 60px;
    width: 140px;
    padding: 10px 10px;
  }
  
  .member {
    padding: 20px 10px; 
    
  }
  
  .member h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .member p {
    color: rgb(95, 94, 94);
  }
  
  .chatSupport p{
    text-align: center;
  }
  
  .chatSupport {
    border: 1px solid #8c92e0;
  
  }
  