@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.sidebar {
    position: relative;
    display: grid;
    grid-template-rows: .3fr .4fr 5fr;
    font-family: Poppins;
    height: calc(100vh - 50px);
    width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .sidebar a:hover {
    color: #8c92e0;
  }

  .sidebar a:focus {
    color: #4F46E5;
    background-color: #C7D2FE;
    border-radius: 12px;
  }

  .navimg {
    height: 100%;
    width: 100%;
  }

  .navimg > img {
    height: 260px;
    width: 100%;
  }

  .name_logout {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .name_logout h3 {
    margin: 0;
  }
  
  .brand {
    display: flex;
    height: 65px;
    /* box-shadow: 0em 0.2em .5em #8c92e0; */
    text-align: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #10215F;
    font-size: 22px;
  }
  
  .brand img {
    height: 60px;
    width: 60px;
    padding: 10px 10px;
  }
  
  .member {
    padding: 20px 10px; 
    
  }
  
  .member h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .member p {
    color: rgb(95, 94, 94);
  }

  #p_text {
    font-size: 20px;
    font-weight: 600;
  }
  
  .chatSupport p h3 {
    text-align: center;
  }

  .chatSupport h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    
  }
  
  .chatSupport {
    border-top: 1px solid var(--Neutral-100);
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .icon {
    display: none;
  }

  #icon:focus {
    color: #4F46E5;
  }

  .hamburger_icon {
    display: none;
  }

  @media screen and (max-width: 1056px) {
    .sidebar {
      width: 250px;
    }
    .sidebar a {
      font-size: .7em;
    }

    #p_text {
      font-size: 18px;
    }
    .chatSupport {
      padding-top: 20px;
    }
    .chatSupport h3 {
      font-size: 1em;
    }
    .navimg img {
      height: 140px;
    }
    .brand img {
      width: auto;
    }
  }

  @media screen and (max-width: 768px) {
  
    .sidebar {
      display: flex;
      position:fixed;
      height: 120px;
      width: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      overflow:visible;
      z-index: 2000;
    }

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      margin-right: 60px;
    }

    .sidebar a {
      font-size: 16px;
    }

    .chatSupport {
      order: 0;
    }

    .chatSupport p {
      display: none;
    }

    .brand, img {
      order: 1;
    }

    .member {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 20px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 10000;
      border-radius: 8px;
    }

    .navimg {
      display: none;
    }

    .icon {
      order: 2;
      justify-content: end;
      display: flex;
    }

    .member.show {
      display: flex;
      justify-content: center;
    }

    .hamburger_icon {
      display: flex;
      order: 2;
    }
  }

  @media (max-width: 430px) {
  
    .sidebar {
      display: flex;
      position:fixed;
      height: 100px;
      width: 100vw;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      padding-right: 20px;
      overflow:visible;
      z-index: 2000;
    }

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      margin-right: 20px;
    }

    .sidebar a {
      font-size: 14px;
    }

    .chatSupport {
      order: 0;
      width: 150px;
      display: flex;
      flex-direction: column;
    }

    .chatSupport p {
      display: none;
    }

    .brand, img {
      order: 1;
    }

    .member {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 20px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 10000;
      border-radius: 8px;
    }

    .navimg {
      display: none;
    }

    .icon {
      order: 2;
      justify-content: end;
      display: flex;
    }

    .member.show {
      display: flex;
      justify-content: center;
    }

    .hamburger_icon {
      display: flex;
      order: 2;
      padding-right: 20px;
    }
  }