.container {
    box-sizing: inherit;
}

.main__container {
    display:flex;
    flex-direction: column;
    /* grid-template-columns: repeat(3, 300px) 1fr;
    grid-template-rows: 200px 400px 400px; */
    height: 100%;
    width: 100%;
    gap: 32px;
    background-color: var(--Neutral-100);
    /* align-items: center;
    justify-items: center; */
    justify-content: space-around;
}

.row_1 {
    display: flex;
    justify-content: start;
    align-content: center;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}

.balance {
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
}

.income {
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
}

.expenses {
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
}

.saving__plan {
    position: absolute;
    background-color: white;
    width: 478px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 16px;
    left: 900px;
}

.row_2 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.budget_chart {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 10px;
    background-color: white;
    width: 736px;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0 16px;
}

.row_3 {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.accounts {
    background-color: white;
    border-radius: 10px;
    width: 352px;
    height: 392px;
    padding-left: 20px;
    margin: 0 16px;
}

.transactions {
    background-color: white;
    border-radius: 10px;
    width: 608px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin: 0 16px;
    max-height: 392px;
    overflow-y: scroll;
}