
.dashboard {
    display: flex;
    grid-template-columns: 300px 3fr;
    gap: 20px;
}

.main__container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 450px 400px;
    gap: 20px;
    padding: 20px;
    background-color: var(--Neutral-100);
    justify-content: center;
    align-items: start;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1056px) {
    .sidebar {
        display: none;
    }
}

.summary_cards {
    grid-column: span 12;
    display: flex;
    justify-content: start;
    grid-template-columns: repeat(12, 1fr);
}

.balance {
    grid-column: span 3;
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
    box-sizing: border-box;
}

.income {
    grid-column: span 3;
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
    box-sizing: border-box;
}

.expenses {
    grid-column: span 3;
    width: 224px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 16px;
    box-sizing: border-box;
}

.saving__plan {
    grid-column: span 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    width: 478px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
    .saving__plan {
        width: 350px;
        height: 500px;
    }
}

@media screen and (max-width: 1250px) {
    .saving__plan {
        width: 250px;
        height: 500px;
    }
}

.budget_chart {
    border-radius: 10px;
    width: 736px;
    height: 400px;
    gap: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.budg_header {
    position: relative;
    width: 100%;
}

.chart_image {
    width: 100%;
    top: 0;
    height: 350px;
}

@media screen and (max-width: 1550px) {
    .budget_chart {
        width: 650px;
    }
}

@media screen and (max-width: 1450px) {
    .budget_chart {
        width: 550px;
    }
}

.account_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    gap: 20px;
    padding: 20px;
}


.accounts {
    background-color: white;
    border-radius: 10px;
    width: 352px;
    max-height: 392px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 15px;
}

.accounts::-webkit-scrollbar {
    width: 6px;
}

.accounts::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.accounts::-webkit-scrollbar-thumb:hover {
    background-color: #9a81c9;
}

.accounts::-webkit-scrollbar-track {
    background-color: #ab9cdf;
}

.transactions {
    background-color: white;
    border-radius: 12px;
    width: 608px;
    max-height: 392px;
    justify-content: space-between;
}

.taheader {
    background-color: #DBEAFD;
    height: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding: 12px;
}

.transactions img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.transactions p {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
}