.footer {
    padding: 20px;
    background-color: #f5f7fa;
    text-align: center;
    font-family: Poppins, sans-serif;
    background: #DBEAFD;
    display: block;
  }

  .logo {
    color: #10215F;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    margin-top: 50px;
    max-width: 25%;
  }

  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
  }
  
  .subscribe {
    margin-top: 20px;
    display: block;
    float: right;
    align-items: start;
  }
  
  .subscribe input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .subscribe button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6A63E1;
    color: #fff;
    cursor: pointer;
  }
  
  .terms {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .nav {
    display: flex;
    max-width: 300px;
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .footer_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .logo {
      margin: 0;
      padding-left: 20px;
    }

    .nav {
      justify-content: end;
    }
  }

  @media (max-width: 430px) {
    .footer_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      grid-column: 1;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      padding: 0;
      width: 200px;
    }

    .terms {
      display: flex;
    }

    #form_input {
      width: 160px;
      font-size: 14px;
      padding: 4px 4px;
    }

    .subscribe button {
      padding: 4px;
      font-size: 14px;
    }

    .subscribe {
      margin: 0;
      display: flex;
      width: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }