@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .logo {
    display: flex;
    align-items: center;
    color: #10215F;
    font-weight: 600;
    font-size: 18px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .login {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    border: 1px solid var(--Neutral-200, #E5E7EB);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  }
  
  a.getStarted {
    background-color: #6A63E1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .icon {
    display: none;
    cursor: pointer;
  }

  @media (max-width: 768px){
    .header {
      box-sizing: border-box;
      padding: 30px 50px;
    }
    
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 100;
      border-radius: 8px;
    }

    .nav.show {
      display: flex;
      padding: 10px;
      justify-content: center;
    }

    .nav.show a {
      padding: .3em 0;
    }

    .login {
      border: none;
      box-shadow: none;
      padding: 0;
    }

    a.getStarted {
      background-color: #6A63E1;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
    }

    .icon {
      display: block;
    }
  }