@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Poppins, sans-serif;

  color-scheme: light dark;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Primary-600: #4F46E5;
  --Neutral-100: #F3F4F6;
  --Neutral-800: #1F2937;
}

.main-dashboard {
  display: grid;
  grid-template-columns: 180px 2fr 1fr;
  gap: 20px;
  
}

.main-dashboard .section1 {
  grid-column: 2;
  padding-left: 50px;
  padding-top: 50px;

}

.homepage {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.register-main {
  display:flex;
  width: 100%;
  height: auto;
  font-family: Poppins;
  margin: 0;
}

.reg-form {
  height: 100vh;
  width: 100%;
  display: grid;
  padding-top: 290px;
  background-color: var(--Neutral-100);
  grid-template-rows: 130px 50px 40px 40px 20px 1fr 30px;
  justify-content: center;
  
}

.reg-form .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.reg-form img {
  width: 82px;
  height: 105px;
}

.reg-form h2{
  text-align: center;
  font-size: 36px;
  
}

.reg-form p {
  text-align: center;
  font-size: 1em;
}

.register-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #b598db;
  background: linear-gradient(130deg,#b598db, #dbeafd);
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
  height:inherit;
}

@media screen and (max-width: 1024px) {
  .register-main {
    flex-wrap: wrap;
  }

  .register-left {
    height: 100vh ;
  }

  .reg-form {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 430px) {
  .register-left {
    margin: 0;
    height: 100vh;
  }

  .form--container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__button {
    margin-top: 20px;
  }

  .register-main {
    margin: 0;
    padding: 10px;
  }

  .reg-form {
    padding-top: 8em;
    height: 100vh;
  }

  .divider {
    max-width: 350px;
  }
}

.reg-left-content {
  width: 624px;
  padding: 20px;
}

.reg-left-content h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}

.reg-left-content p {
  font-size: 18px;
  font-weight: 500;
  color: var(--Neutral-800);
}

.reg__right_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin: 0 1.5em;
  
}

.form--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:start;
  margin-top: 2em;
  max-width: 750px;
  
}

.form__button {
  font-family: Poppins, sans-serif;
  width: 100%;
  background: var(--Primary-600, #4F46E5);
  color: white;
  border-radius: 8px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  padding: 14px 20px;
  border: 1px #10215F;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  margin-top: 4em;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.btn__position {
  justify-content: center;
}

.google-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  height: 35px;
  font-weight: bold;
  color: black;
}

.google-signin img {
  width: 35px;
  height: 36px;
  border: none;
  background-color: white;
}

.divider {
  font-size: .8em;
  display:flex;
  align-items: center;
  justify-self: center;
  margin-top: 1em;
  width: 500px;
  
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: #e5e7eb;
  margin: 2em;
}

.five_stars {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-top: 1em;

}

.five_stars p {
  display:flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: Poppins;
  margin: 0;
  padding-left: 10px;
  color: #10215F;
}

.login-link {
  padding-top: 1em;
}

/* logout button */

.logout-btn {
  border-radius: 10px;
  background-color: #10215F;
  margin-left: 1em;
}

.logout-btn:hover {
  transform: translateY(15%);
  background-color: #4F46E5;
  box-shadow: 0 0 1em var(--Neutral-800);
}

.plaid-link-btn {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #4F46E5;
}


/* Chart CSS */

.chart-container {
  display: flex;
  flex-direction: column;
  height: 380px;
  color: black;
  width: 75%;
  padding-top: 20px;
  font-family: Poppins, sans-serif;
}

.barchart-container {
  display: flex;
  width: 75%;
  padding: 20px;
  font-family: Poppins, sans-serif;
}

.linechart-container {
  display: flex;
  width: 75%;
  padding: 20px;
  font-family: Poppins, sans-serif;
}

.piechart-container {
  display: flex;
  width: 75%;
  padding: 20px;
  flex-direction: column;
  height: 380px;
  font-family: Poppins, sans-serif;
}